body {
	background: black;
}

img#dbad-logo {
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 1002;
}

div#menu {
	position: fixed;
	right: 0%;
	top: 0%;
	height: 86%;
	width: 20%;
	background: #28314b;
	color: #4c90c9;
	font-family: Consolas, sans-serif;
	border-left: 1px solid #888;
	overflow: auto;
	z-index: 1000;
}

div#menu p {
	display: inline-block;
	padding: 0;
	margin: 25px 0px 0px 20px;
}

div#menu p a {
	color: #4c90c9;
	text-decoration: none;
	border: 1px solid #888;
	padding: 5px 10px;
	background: #1f263b;
}

div#verlauf {
	overflow: auto;
	position: fixed;
	top: 0;
	height: 86%;
	width: 80%;
	padding: 0% 0% 0% 0%;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-family: Consolas, sans-serif;
	top: 0;
}

div#verlauf a {
	color: lightblue;
}

div#verlauf div#roomname {
	display: block;
	height: 30px;
	width: 600px;
	position: fixed;
	top: 0%;
	left: 40%;
	font-size: 30px;
	margin-left: -300px;
	line-height: 30px;
	text-align: center;
	
}

table#msgOutput {
	margin: 20px 0px 20px 10px;
}

table#msgOutput th {
	vertical-align: middle;
	width: 200px;
	max-width: 200px;
	border: 1px solid #888;
	background: #28314B;
	color: #4c90c9;
}

table#msgOutput td {
	padding-left: 50px;
}

table#msgOutput td#timestamp {
	padding-left: 0px;
	padding-right: 10px;
	text-align: center;
}

table#msgOutput td#timestamp date {
	font-size: 12px;
}

table#msgOutput td#timestamp time {
	font-weight: bold;
}

table#msgOutput td.ownMsg {
	color: #4c90c9;
}

p#alertOutput {
	color: red;
	font-weight: bold;
	margin: 20px 0px 20px 10px;
}

p#alertOutput span {
	color: lightgreen;
}

form#formMsg {
	margin: 0;
	position: fixed;
	bottom: 0;
	clear: both;
	height: 14%;
	width: 100%;
	padding: 0%;
	font-family: Consolas, sans-serif;
	background: #293134;
	border-top: 1px solid #888;
	z-index: 1001;
}

form textarea#textarea {
	resize: none;
	background: #28314b;
	color: #4c90c9;
	font-family: Consolas, sans-serif;
	border: 1px solid #888;
	display: inline-block;
	height: 50%;
	width: 50%;
	margin: 0%;
	position: absolute;
	bottom: 24%;
	left: 1%;
}

form input#sndMsgBtn {
	display: inline-block;
	border: 1px solid #888;
	background: #28314b;
	color: #4c90c9;
	position: absolute;
	height: 18%;
	bottom: 40%;
	left: 52%
}